body {
    background-color: #021526;
    color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
.content {
    display: flex;
    flex-direction: column;
}
.navbar {
    display: flex;
    height: 50px;
    border-bottom: 2px solid #6EACDA;
    width: 100%;
    position: fixed;
    justify-content: space-around;
    gap: 10px;
    background-color: #03346E;
    align-items: center;
    z-index: 100;
}
.navbar p {
    font-size: 25px;
    font-family: 'ibm plex mono', sans-serif;
    height: fit-content;

}
.kanan {
    display: flex;
    flex-direction: row;
}
.navbar ul{
    text-decoration: none;
    font-family: 'quicksand',sans-serif;
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
.navbar li {
    list-style: none;
}
.navbar a{
    text-decoration: none;
    color: white;
}
.navbar a:hover {
    color: #6EACDA;
}
.navbar a:active {
    text-decoration: underline 3px #6EACDA;
}
.Logo-sosmed img {
    width: 35px;
    padding: 10px;
    height: auto;
}
.jumbotron  {
    font-family: 'quicksand', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.jumbotron .Teks h1 {
    font-family: 'jockey one', sans-serif;
    font-weight: normal;
    margin-top: -20px;
}
.jumbotron .Teks a {
    text-decoration: none;
    color: white;
    font-family: 'quicksand', sans-serif;
    background-color: #03346E;
    border: 3px solid #6EACDA;
    border-radius: 10px;
    padding: 5px;
    font-size: large;
    
}
.jumbotron .Teks a:hover {
    background-color: #6EACDA;
}
.jumbotron img {
    width: 600px;
    height: auto;
}
#about {
    background-color: #03346E;
    display: flex;
    margin: 30px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 20px ;
    border: 3px solid #6EACDA;
    padding-bottom: 70px;
    
}
#about h1 {
    font-family: 'ibm plex mono', sans-serif;
    font-weight: normal;
    margin-left: 10px;
    line-height: 0;
} 
#about p {
    font-family: 'quicksand', sans-serif;
    margin-left: 10px;
}
#about a {
    text-decoration: none;
    color: white;
    font-family: 'quicksand', sans-serif;
    background-color: #03346E;
    border: 3px solid #6EACDA;
    border-radius: 5px;
    padding: 5px;
    font-size: large;
    margin-left: 87%;
}
#about a:hover {
    background-color: #6EACDA;
}
#about p {
    font-size: large;
}
#about #muka {
    width: 286px;
    height: auto;
}
#skill {
    text-align: center;
    padding-top: 20px;
    /* background-color: #03346E; */
    margin: 30px;
    /* border: 3px solid #6EACDA; */
    padding-bottom: 45px;

}
.baris {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.baris img {
    width: 100px;
    display: flex;
    gap: 30px;
    height: auto;

}
.html, .css, .java, .javascript, .adobe, .figma {
    border: 5px solid #6EACDA;
    width: fit-content;
    padding: 10px;
    align-items: center;  
    justify-content: center; 
    text-align: center; 
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
    background-color: #03346E;
}
#hover {
    transition: ease-in-out 0.3s;
}
#hover:hover {
    transform: scale(1.2);
}
#skill h1{
    font-family: 'ibm plex mono',sans-serif;
    font-weight: normal;
}
.baris p {
    font-family: 'quicksand', sans-serif;
}
.adobe h1 {
    font-size: medium;
}
#projects {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#projects h1 {
    text-align: center;
    font-family: 'ibm plex mono',sans-serif;
    font-weight: normal;
}
#projects p {
    font-family: 'quicksand', sans-serif;
}
/* Project 1 */
.project1 {
    display: flex;
    margin: 20px 0px 20px 20px;
    align-items: center;
}
.project1 .teks {
    background-color: #03346E;
    border-top: 3px solid #6EACDA;
    border-left: 3px solid #6EACDA;
    border-bottom: 3px solid #6EACDA;
    margin-left: 20px;
    height: fit-content;
    padding: 20px;
    border-radius:  30px 0px 0px 30px;
}
#projects h2 {
    margin-top: 0;
    font-family: 'ibm plex mono',sans-serif;
    font-weight: normal;
}
.project1 .teks a {
    text-decoration: none;
    color: white;
    font-family: 'quicksand', sans-serif;
    background-color: #03346E;
    border: 3px solid #6EACDA;
    border-radius: 5px;
    padding: 5px;
    font-size: large;
    margin-left: 920px;
}
.project1 .teks a:hover {
    background-color: #6EACDA;
}
.project1 .gambar {
    display: flex;
    justify-content: flex-start;
    overflow: visible;
}
.image-card1 {
    position: relative;
    transition: transform 0.3s ease, z-index 0.3s ease;
    z-index: 10;
}
.image-card1 img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
    background-color: #03346E;
    box-shadow: 5px 10px #6EACDA;
}
.image-card1:hover {
    transform: scale(1.2);
    z-index: 12; 
}
/* PRoject 2 */
.project2 {
    display: flex;
    margin: 20px 40px 20px 0px;
    align-items: center;
}
.project2 .teks {
    background-color: #03346E;
    border-top: 3px solid #6EACDA;
    border-right: 3px solid #6EACDA;
    border-bottom: 3px solid #6EACDA;
    margin-right: 20px;
    height: fit-content;
    padding: 20px;
    border-radius:  0px 30px 30px 0px;
}
.project2 .teks a {
    text-decoration: none;
    color: white;
    font-family: 'quicksand', sans-serif;
    background-color: #03346E;
    border: 3px solid #6EACDA;
    border-radius: 5px;
    padding: 5px;
    font-size: large;

}
.project2 .teks a:hover {
    background-color: #6EACDA;
}
.project2 .gambar {
    display: flex;
    justify-content: flex-start;
    overflow: visible;
    background-color: #03346E;
    box-shadow: 5px 10px #6EACDA;
}
.image-card2 {
    position: relative;
    transition: transform 0.3s ease, z-index 0.3s ease;
    z-index: 12;
}
.image-card2 img {
    width: 500px;
    height: auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
}
.image-card2:hover {
    transform: scale(1.2);
    z-index: 10; 
}
/* Project 3 */
.project3 {
    display: flex;
    margin: 20px 0px 20px 20px;
    align-items: center;
}
.project3 .teks {
    background-color: #03346E;
    border-top: 3px solid #6EACDA;
    border-left: 3px solid #6EACDA;
    border-bottom: 3px solid #6EACDA;
    margin-left: 20px;
    height: fit-content;
    padding: 20px;
    border-radius:  30px 0px 0px 30px;
}
.project3 .teks a {
    text-decoration: none;
    color: white;
    font-family: 'quicksand', sans-serif;
    background-color: #03346E;
    border: 3px solid #6EACDA;
    border-radius: 5px;
    padding: 5px;
    font-size: large;
    margin-left: 810px;
}
.project3 .teks a:hover {
    background-color: #6EACDA;
}
.project3 .gambar {
    display: flex;
    justify-content: flex-start;
    overflow: visible;
    background-color: #03346E;
    box-shadow: 5px 10px #6EACDA;
    gap: -50px;
}
.image-card3 {
    position: relative;
    transition: transform 0.3s ease, z-index 0.3s ease;
    z-index: 12;
}
.image-card3 img {
    width: 500px;
    height: auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
}
.image-card3:hover {
    transform: scale(1.2);
    z-index: 10; 
}
#contacts {
    display: flex;
    margin-top: 30px;
    gap: 20px;
    margin: 20px;
    
}
.message {
    background-color: #03346E;
    border: 3px solid #6EACDA;
    flex-grow: 9.5;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
}
.message button {
    background-color: #6EACDA;
    color: white;
    padding: 8px 0;
    border: none;
    cursor:  pointer;
    width: 100%;
    border-radius: 5px;
    font-family: 'quicksand', sans-serif;
    font-size: medium;
    margin-top: 10px;
}
.message button:hover {
    background-color: #7db1da;
}
#contacts h1 {
    margin: 0;
    font-family: 'ibm plex mono',sans-serif;
    font-weight: normal;
    font-size: 1.5em;
}
#contacts p {
    margin: 0;
    font-family: 'quicksand',sans-serif;
}
.message input {
    padding:  12px 20px;
    margin: 8px 0;
    border: 2px solid #6EACDA;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'quicksand', sans-serif;
    width: 100%;
}
aside {
    background-color: #03346E;
    border: 3px solid #6EACDA;
    flex-grow: 0.5;
    padding: 20px;
}
aside p{
    margin: 0;
}
aside h2{
    font-family: 'ibm plex mono', sans-serif;
    font-weight: normal;
    margin: 0;
    font-size: 1.25em;
}
aside li{
    margin: 0;
    font-family: 'quicksand',sans-serif;
}
aside ul{
    margin: 0;
}
aside input{
    padding:  5px 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'quicksand', sans-serif;
    width: 50%;
    background-color: #6EACDA;
    font-size: medium;
}
aside .nomor, .email {
    display: flex;
    align-items: center;
    gap: 5px;
} 
aside .email button{
    background-color: #6EACDA;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

aside .nomor button {
    background-color: #6EACDA;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}
#pesan {
    height: 150px;
    border-radius: 5px;
    font-family: 'quicksand',sans-serif;
}
footer {
    
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    flex-direction: column; 
    background-color: #03346E; 
    border-top: 2px solid #6EACDA;
    width: 100%; 
    box-sizing: border-box; 
    padding: 10px;
    font-family: 'quicksand',sans-serif;
    gap: 0;
}
footer p {
    margin: 0;

}
.bariskontak{
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.bariskontak button {
    background-color: #03346E;
    color: white;
    padding: 5px;
    border: none;
    cursor:  pointer;
    width: 70px;
    border-radius: 5px;
    font-family: 'quicksand', sans-serif;
    font-size: medium;
    margin-top: 10px;
    display: flex;
    border: 3px solid #6EACDA;
    justify-content: center;
}
@media (max-width: 768px) {
    body {
        max-width: 768px;
    }
    .navbar {
        max-width: 768px;
    }
    
    .jumbotron img {
        width: 300px;
        height: auto;
        margin-top: 20px;
    }
    #about #muka {
        width: 150px;
        height: 200px;
    }
    #about {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #about .teks {
        text-align: center;
    }
    #about a {
        margin-left: 0;
    }
    #projects {
        max-width: 768px;
        justify-content: center;
        align-items: center;
    }
    .project1 {
        margin: 20px;
        flex-direction: column;
        gap: 30px;
    }
    .project1 .teks {
        border-radius: 0px;
        text-align: center;
        margin-left: 0px;
        border: 3px solid #6EACDA;
    }
    .project1 .teks a {
        margin-left: 0;
    }
    .image-card1 img {
        width: 170px;
    }
    .project2 {
        margin: 20px;
        flex-direction: column-reverse;
        gap: 30px;
    }
    .project2 .teks {
        border-radius: 0px;
        text-align: center;
        margin-right: 0px;
        border: 3px solid #6EACDA;
    }
    .project2 .teks a {
        margin-left: 0;
    }
    .image-card2 img {
        width: 400px;
    }
    .project3 {
        margin: 20px;
        flex-direction: column;
        gap: 30px;
    }
    .project3 .teks {
        border-radius: 0px;
        text-align: center;
        margin-left: 0px;
        border: 3px solid #6EACDA;
    }
    .project3 .teks a {
        margin-left: 0;
    }
    .image-card3 img {
        width: 400px;
    }

    #contacts {
        flex-direction: column-reverse;
    }
}
@media (max-width: 425px) {
    .navbar {
        justify-content: space-around;
        max-width: 425px;
    }
    .navbar p {
        font-size: larger;
    }
    #pembatas {
        position: absolute;
        visibility: hidden;
    }
    .Logo-sosmed img {
        position: absolute;
        visibility: hidden;
        
    }
    .jumbotron {
        margin-top: 50px;
        font-size: smaller;
        margin-bottom: 20px;
    }
    .jumbotron {
        text-align: center;
    }
    .jumbotron img {

        position: absolute;
        visibility: hidden;
    }
    .html, .css, .java, .javascript, .adobe, .figma {
        width: 140px;
        height: auto;
    }
}
@media (max-width: 425px) {
    .Logo-sosmed img {
        width: 20px;
    }
}
